body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3C3530;
}

header {
    width: 100%;
    background-color: #b8b8b8;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}
.logo{
    color: red;
    
    
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: flex-start; /* Alinha os itens no topo para uma melhor aparência */
    border: 10px solid #b8b8b8;
    padding: 20px;
    background-color: #e6e1e1;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para um efeito de profundidade */
    margin-top: 60px; /* Adiciona espaço para o cabeçalho */
}

img {
    max-width: 30%;
    height: auto;
    margin-right: 20px;
}

h2 {
    background-color: #3c3530;
    margin: 0; /* Remove a margem para evitar o deslocamento inesperado */
    padding: 10px; /* Adiciona preenchimento para uma melhor aparência */
    color: white; /* Torna o texto legível no fundo colorido */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}

.texto {
    max-width: 70%; /* Ajusta a largura para caber melhor com a imagem */
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-bottom: 20px; /* Adiciona um espaçamento inferior para melhor separação do botão */
}

.botao {
    display: block; /* Garante que o botão seja exibido como um bloco */
    margin-top: 10px; /* Adiciona espaçamento superior para separação do texto */
    padding: 10px 20px; /* Adiciona preenchimento para um clique mais fácil */
    background-color: #3c3530; /* Combina com a cor do cabeçalho */
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #3c3530; /* Adiciona um efeito de hover */
    background-color: #3c3530;
}