

.container {
  width: 96%;
}

.painel {
  width: auto;
}

.painel li {
  width: 30%;
}

.painel img {
  width: 100%;
}

header h1 {
  text-align: center;
}

header h1 img {
  max-width: 50%;
}

.sacola {
  display: none;
}

.menu-opcoes {
  position: static;
  text-align: center;
}

.menu-opcoes ul li {
  display: inline-block;
  
  margin: 5px;
}

.busca,
.menu-departamentos,
.destaque img {
  margin-right: 0;
  width: 100%;
}

@media (min-width: 480px) {
  header h1 {
      margin: 5px 0;
  }
  
  .menu-departamentos {
      padding-bottom: 10px;
      margin-bottom: 10px;
  }
  
  .menu-departamentos nav > ul{
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
  }
}

@media (min-width: 720px) {
  header h1 {
      text-align: left;
  }
  
  .menu-opcoes {
      position: absolute;
  }
  
  .sacola {
      display: block;
  }
  
  .painel li {
      width: 15%;
  }
  
  .busca, .menu-departamentos {
      margin-right: 1%;
      width: 30%;
  }
  
      .menu-departamentos nav > ul{
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
  }
  
  .destaque img {
      width: 76%;
  }
}
.sacola {
  background: url(../img/sacola.png) no-repeat top right;
  font-size: 14px;
  padding: 8px;
  padding-right: 35px;
  text-align: right;
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}

.menu-opcoes {
  position: absolute;
  font-size: 15px;
  bottom: 0;
  right: 0;
}

.menu-opcoes a {
  color: #003366;
}

body {
  background-color: #3C3530;
  color: #333333;
  font-family: "PT Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-transform: uppercase;
}

.container {
  border-radius: 0%;
  bottom: auto;
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

.cadastro {
  background-color: #f5dcdc;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 230px;
  float: left;
 

}

.cadastro li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 5px;
  list-style: none;
}

.cadastro li ul {
  display: none;
  list-style: none;
}

.cadastro li:hover ul {
  display: block;
  list-style: none;
}

.cadastro ul ul li {
  background-color: #dcdcdc;
}

.cadastro a {
  color: #333333;
  text-decoration: none;
  clear: left;
}

.cadastro {
  clear: left;
  margin-top: 10px;
  padding-bottom: 10px;
}
.carrinho {
  float: inline-end;
  background-color: #f5dcdc;
  margin-right: 170px;
  padding: 15px;
  border-color: #999;
  border-radius: 10px;
}

.busca,
.menu-departamentos
{
  background-color: #f5dcdc;
  font-weight: bold;
  text-transform: uppercase;
  
  margin-right: 10px;

  width: 230px;
  float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
  margin: 10px;
}

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
  list-style: none;
}

.menu-departamentos li ul {
  display: none;
  list-style: none;

}

.menu-departamentos li:hover ul {
  display: block;
}

.menu-departamentos ul ul li {
  background-color: #dcdcdc;
}

.menu-departamentos a {
  color: #333333;
  text-decoration: none;
  clear: left;
}

.menu-departamentos {
  clear: left;
  margin-top: 25px;
  padding-bottom: 10px;
}

.destaque {
  position: relative;
  margin-top: 10px;
}

.busca input {
  vertical-align: middle;
}

.busca {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.busca input[type=search] {
  width: 170px;
}
.button_add{
  border-radius: 50px;
  margin-bottom: 20px;
  border-color:#3c353093;
  border-width: 3px;
  border-radius: 20px;
  border-style: solid;
  border-color: #3c3530

}

.painel {
  margin: 10px 0;
  padding: 10px;
  width: 455px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #999;
  box-shadow: insert 1px 1px 4px #999;
}
.novidades {
  text-align: center;
  float: left;
  margin-top: 10px;
  background-color: #f5b96a;
  background: linear-gradient(#f5dcdc, rgb(216, 204, 204));
  clear: left;
}
.novidades h2{
  background-color: #3c353093;
  border-radius: 15px;
  margin: 10px;
}
.novidades figcaption{
  font-weight: bold;
}
.novidades ol{
  background-color:#3c353059;
  border-width: 5px;
  border-style: solid;
  border-color: #3c3530;
  padding: 20%;
}
.novidades img{
  width: 150px;
  height: 250px;
  border-width: 5px;
  border-radius: 20px;
  border-style: solid;
  border-color: #3c3530;
  
}
.mais-vendidos {
  text-align: center;
  float: right;
  background-color: #dcdcf5;
  background: linear-gradient(#f5dcdc, rgb(216, 204, 204));
}
.mais-vendidos h2{
  background-color: #3c353093;
  border-radius: 15px;
  margin: 10px; 
}
.mais-vendidos figcaption{
  font-weight: bold;
}
.mais-vendidos ol{
  background-color:#3c353059;
  border-width: 5px;
  border-style: solid;
  border-color: #3c3530;
  padding: 20%;
}
.mais-vendidos img{
  width: 150px;
  height: 250px;
  border-width: 5px;
  border-radius: 20px;
  border-style: solid;
  border-color: #3c3530;
}
.painel li {
  display: inline-block;
  vertical-align: top;
  width: 250px; 
  padding: 10px;   
  margin: 2px;
  border-radius: 20px;
  padding-bottom: 10px;
  transition: 0.7s ease-out;
}

.painel li:hover {
  background-color: #33333350;
  box-shadow: 0 0 5px #333;
  transition: box-shadow 0.7s ease-in;
  transform: scale(1.1);
}

.painel li:nth-child(2n):hover {
  transform: scale(1.1);
}

.painel h2 {
  font-family: "Bad Script", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  
  margin-bottom: 10px;
  text-shadow: 3px 3px 2px #FFF;
  text-shadow: 1px 1px 2px rgba(255,255,255,0,8);
}

.painel a {
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

footer {
  background-image: url(../img/fundo-rodape.png);
  clear: both;
  padding: 20px;
}

footer .container {
  position: relative;
}

.social a {
  /*tamanho da imagem */
  height: 32px;
  width: 32px;
  
  /*Imagem replaced*/
  display: block;
  text-indent: -9999px;
}

.social {
  position: absolute;
  top: 12px;
  right: 0;
}

.social li {
  float: left;
  margin-left: 25px;
}

#copyright {
  color: white;
}

.social a[href*="facebook.com"] {
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

.menu-opcoes a:hover {
  color: #007dc6;
}

.menu-opcoes a:active {
  color: #867dc6;
}

.menu-departamentos li li a:before {
  content: '\2756';
  padding-right: 3px;
}

.painel button {
  display: none;
}

.painel-compacto li:nth-child(n+7) {
  display: none;
}

.painel-compacto button {
  display: block;
}

.pause,
.play {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
}

.pause {
    border-left: 10px solid #900;
    border-right: 10px solid #900;
    height: 30px;
    width: 5px;
}

.play {
    border-left: 25px solid #900;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}
.livro img{
  height: 150px;
  width: 150px;

}

.painel button {
    /* Posicionamento */
    float: right;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;

    /* Estilo */
    background-color: #333;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.5);
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 1px 0 1px black;

    /* Animação */
    transition: 0.3s;
}

.painel button:hover {
    background-color: #393939;
    box-shadow: 1px 0 20px rgba(200, 200, 120, 0.9);
}

.painel button::after {
    /* Elemento vazio */
    content: '';
    display: block;
    height: 0;
    width: 0;

    /* Triangulo */
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    /* Posicionamento */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;

    transition: 0.3s;
}

.painel button:hover::after {
    border-top-color: #393939;
}

footer {
	background-color: #3c353059;
	color: #fff;
	padding: 20px;
	text-align: left;
	margin-top: 150px;
}

.rodape{
  background-color: #3c353059;
  color: white;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-family: helvetica;
}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape p{
  margin-bottom: 5px;
}
.rodape-div{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}
.rodape span{
  font-size: 20px;
  color: white;
}
.rodape-direitos{
  width: calc(100% - 20px);
  background-color: #201d1a59;
  padding: 10px;
  margin: 0px;
  text-align: center;
}
/mobile/
@media (max-width: 768px) {
  .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
      width: calc(50% - 20px);
      padding: 10px;
  }
  .rodape-div{
      padding: 60px 0px 40px 0px;
  }